Source: libpka
Priority: optional
Maintainer: Alfonso Sanchez-Beato (email Canonical) <alfonso.sanchez-beato@canonical.com>
Build-Depends: debhelper (>= 10), libssl-dev
Standards-Version: 4.1.2
Section: libs

Package: libpka1
Architecture: arm64
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mellanox BlueField Public Key Acceleration (PKA) Package
 The PKA software package consists of (1) an API specification, which
 is the application writer's view (this is also intended to provide
 complete interfaces to use with OpenSSL), (2) an API implementation
 for BlueField, (3) validation test suite, an independent set of
 test routines that run against the API implementation and verifies
 that it correctly implements all of the defined APIs at a functional
 level, and (4) a dynamic OpenSSL engine component to support RSA
 operations and interfaces with the BlueField PKA hardware.
