#!/usr/bin/make -f

ifeq (,$(findstring OpenSSL 3.0, $(shell openssl version)))
        OPENSSL_ENGINES_DIR=engines-1.1
else
        OPENSSL_ENGINES_DIR=engines-3
endif

export CFLAGS=-g -O2 -fdebug-prefix-map=/root=. -fstack-protector-strong -Wformat -Werror=format-security
export CPPFLAGS=-Wdate-time -D_FORTIFY_SOURCE=2
export CXXFLAGS=-g -O2 -fdebug-prefix-map=/root=. -fstack-protector-strong -Wformat -Werror=format-security
export FCFLAGS=-g -O2 -fdebug-prefix-map=/root=. -fstack-protector-strong
export FFLAGS=-g -O2 -fdebug-prefix-map=/root=. -fstack-protector-strong
export GCJFLAGS=-g -O2 -fdebug-prefix-map=/root=. -fstack-protector-strong
export LDFLAGS=-Wl,-Bsymbolic-functions -Wl,-z,relro
export OBJCFLAGS=-g -O2 -fdebug-prefix-map=/root=. -fstack-protector-strong -Wformat -Werror=format-security
export OBJCXXFLAGS=-g -O2 -fdebug-prefix-map=/root=. -fstack-protector-strong -Wformat -Werror=format-security

%:
	dh $@ --with autoreconf

override_dh_auto_install:
	dh_auto_install
	mkdir -p debian/libpka1/usr/lib/${DEB_TARGET_GNU_TYPE}/libpka1
	mv debian/libpka1/usr/bin/* debian/libpka1/usr/lib/${DEB_TARGET_GNU_TYPE}/libpka1/
	rmdir debian/libpka1/usr/bin/
	mkdir -p debian/libpka1/usr/share/doc/libpka1/
	mv debian/libpka1/usr/share/doc/pka/* debian/libpka1/usr/share/doc/libpka1/
	rmdir debian/libpka1/usr/share/doc/pka/
	rm debian/libpka1/usr/lib/${DEB_TARGET_GNU_TYPE}/*.la
	mkdir -p debian/libpka1/usr/lib/${DEB_TARGET_GNU_TYPE}/$(OPENSSL_ENGINES_DIR)
	cp debian/libpka1/usr/lib/${DEB_TARGET_GNU_TYPE}/libbfengine.so.1.1.0 debian/libpka1/usr/lib/${DEB_TARGET_GNU_TYPE}/$(OPENSSL_ENGINES_DIR)
	dh_link /usr/lib/${DEB_TARGET_GNU_TYPE}/$(OPENSSL_ENGINES_DIR)/libbfengine.so.1.1.0 /usr/lib/${DEB_TARGET_GNU_TYPE}/$(OPENSSL_ENGINES_DIR)/pka.so
