#!/usr/bin/make -f

#export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all reproducible=+all future=+all
export LDFLAGS=-Wl,-Bsymbolic-functions

%:
	dh $@

override_dh_auto_install:
	dh_auto_install
	find $(DESTDIR) -name "*.la" -delete
